@import url(../default.css);

@import url(../common.css);

@font-face {
	font-family: 'HS-Regular';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/HS-Regular.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

#main {
	background: url(../images/common/back2.png) top center no-repeat;
}

section {
	height: 200px;
	text-align: center;
}

.maintop {
	height: 130px;
	margin-top: 15px;
}

.maintop .adtext {
	width: auto;
	text-align: left;
	font-size: 27px;
	font-family: 'HS-Regular';
	color: #4d4d4d;
	margin: 3% 7%;
	line-height: 29px;
}

.maintop .adtext p.ptwo {
	padding-left: 15%;
}

.maintop .adtext .pointcolor {
	font-weight: 500;
}

.maintop {
	height: 100px;
	margin-top: 15px;
}

.myinfo {
	margin-top: 53px;
	/* width: 80%; */
	padding: 10px 15px;
	text-align: center;
	height: 130px;
}

.myinfo .infobox {
	margin: 0 auto;
	width: 87%;
	text-align: left;
}

.myinfo .infobox .inforight {
	float: left;
	height: 50px;
	width: 24%;
	font-size: 19px;
	font-weight: 400;
	padding: 15px 0px 0px 5px;
}

.myinfo .infobox .inforight a {
	text-decoration: none;
	font-size: 17px;
	/* margin-top: -10px; */
	color: #1d1c1a;
}

.myinfo .infobox .infoleft {
	padding: 5px 0;
	width: 74%;
	float: left;
	height: 50px;
}

.myinfo .infobox .infoleft ul li:nth-child(1) {
	width: 65%;
	float: left;
	font-size: 15px;
	font-family: 'HS-Regular';
	color: #9d9d9d;
	padding-top: 3px
}

.myinfo .infobox .infoleft ul li:nth-child(3) {
	
}

#progress {
	appearance: none;
	height: 8px;
	width: 100%;
}

#progress::-webkit-progress-bar {
	background: #f0f0f0;
	border-radius: 10px;
	box-shadow: inset 3px 3px 10px #ccc;
}

#progress::-webkit-progress-value {
	border-radius: 10px;
	background: #e68e41;
	background: linear-gradient(to right, #e68e41, #e68e41);
}

.myinfo .infobox .booklink {
	width: 100%;
	display: inline-block;
}

.myinfo .infobox .booklink ul li {
	float: left;
	width: 45%;
	border: 1px solid #e68e41;
	border-radius: 5px;
	text-align: center;
	color: #e68e41;
	/* height: 30px; */
	padding: 5px 5px;
	font-size: 13px;
	font-weight: 400
}

.myinfo .infobox .booklink ul li:nth-child(1) {
	margin-right: 2px;
}

.myinfo .infobox .booklink ul li i {
	margin-left: 3px;
}

.mainslide {
	position: relative;
	width: 100%;
	height: 320px;
	overflow: hidden;
}

.mainslide .imgslide {
	border-radius: 21px;
	margin: 0 10%;
	width: 79%;
	overflow: hidden;
	height: 94%;
	position: relative;
}

.mainslide .imgslide ul {
	position: absolute;
	left: 0;
	top: 0;
}

.mainslide .imgslide ul li {
	width: 100%;
	float: left;
	text-align: center;
	position: relative;
	overflow: hidden;
}

.mainslide .imgslide ul li .pwrap .inner {
	height: 100%;
	overflow: hidden;
}

.mainslide .imgslide ul li .pwrap .inner a img {
	width: 100%;
	margin-top: -5px;
}

.mainslide .next {
	left: auto;
	right: 3%;
	top: 149px;
	margin-left: 0;
	position: absolute;
}

.mainslide .next img {
	width: 68%
}

.mainslide .prev img {
	width: 68%
}

.mainslide .prev {
	right: auto;
	left: 2%;
	top: 152px;
	margin-right: 0;
	position: absolute;
}
/* .mainslide .imgslide ul li a { */
/* 	width: 100%; */
/* 	display: inline-block; */
/* 	text-decoration: none; */
/* 	color: #3d3d3d; */
/* } */

/* .mainslide .imgslide ul li .pic { */
/* 	display: block; */
/* } */

/* .mainslide .imgslide ul li strong { */
/* 	display: block; */
/* 	font-size: 36px; */
/* 	font-weight: 400; */
/* 	margin: 10px 0 4px 0; */
/* } */
.mainmenulist {
	text-align: left;
	max-width: 460px;
	width: 100%;
	height: 200px;
}

.mainmenulist h3 {
	margin: 20px;
}

.mainmenulist .menuslide {
	white-space: nowrap;
	overflow-x: auto;
	text-align: center
}

.mainmenulist .menuslide ul {
	margin-left: 20px;
}

.mainmenulist .menuslide ul li {
	display: inline-block;
	padding-right: 13px;
}

.mainmenulist .menuslide ul li {
	
}

.mainmenulist .menuslide ul li img {
	width: 80px;
	height: 80px;
	border-radius: 100%;
	background-color: #e68e41;
}

.menuslide::-webkit-scrollbar {
	display: none;
}

.pd_top .ptop_side .pvisual .popup2 {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 500px;
}

.pd_top .ptop_side .pvisual .popup2 ul {
	position: absolute;
	left: 0;
	top: 0;
}

.pd_top .ptop_side .pvisual .popup2 ul li {
	position: relative;
	height: 500px;
	float: left;
	overflow: hidden;
}