@charset "UTF-8";

@import url(../default.css);

@import url(../common.css);

@import url(main.css);

/*공통 서브헤드*/
.subhead {
	margin-top: 20px;
	height: 50px;
	text-align: left;
	padding: 10px 20px;
	text-align: left;
	padding: 10px 20px
}

.subhead ul li {
	display: inline-block;
	margin-right: 32%
}

.subhead ul li i {
	font-size: 22px;
	color: #9d9d9d
}

.subhead ul li .subtit {
	font-size: 19px;
	font-weight: 500
}

.subhead2 .subtit2 {
	text-align: center;
	font-size: 19px;
	font-weight: 500
}

/*회원가입*/
#join {
	text-align: left;
	margin: 0 8%;
	margin-top: 40px;
}

#join .tag {
	margin-bottom: 10px;
	font-size: 17px;
	font-weight: 400
}

#join input {
	width: 100%;
	border-radius: 100px;
	height: 25px;
	border: 2px solid #999;
	margin-bottom: 10px;
}

#join button {
	font-size: 15px;
	border: 1px solid #e68e41;
	padding: 3px 10px;
	border-radius: 15px;
	background: #e68e41;
	color: #fff;
}

#join .jbtn {
	width: 100%;
	border: 1px solid #e68e41;
	color: #e68e41;
	padding: 5px;
	background: #fff;
	margin-top: 10px;
}

#join input[type='date']::before {
	content: attr(data-placeholder);
	width: 100%;
}

#join input[type='date']:focus::before, #join input[type='date']:valid::before
	{
	display: none;
}

/*로그인*/
#login {
	text-align: left;
	margin: 0 8%;
	margin-top: 40px;
}

#login .tag {
	margin-bottom: 10px;
	font-size: 17px;
	font-weight: 400
}

#login input {
	width: 98%;
	border-radius: 100px;
	height: 25px;
	border: 2px solid #999;
	margin-bottom: 10px;
	background: #fff;
}

#login button {
	font-size: 15px;
	border: 1px solid #e68e41;
	padding: 3px 10px;
	border-radius: 15px;
	background: #e68e41;
	color: #fff;
	width: 100%;
	margin-top: 10px;
}

#login .link {
	text-align: center;
	margin-top: 7px;
}

#login .link a {
	text-decoration: none;
	color: #9d9d9d;
}

/*비밀번호 찾기*/
#findpw {
	text-align: left;
	margin: 0 8%;
	margin-top: 40px;
}

#findpw .tag {
	margin-bottom: 10px;
	font-size: 17px;
	font-weight: 400
}

#findpw input {
	width: 98%;
	border-radius: 100px;
	height: 25px;
	border: 2px solid #999;
	margin-bottom: 10px;
	background: #fff;
}

#findpw button {
	font-size: 15px;
	border: 1px solid #e68e41;
	padding: 3px 10px;
	border-radius: 15px;
	background: #e68e41;
	color: #fff;
	width: 100%;
	margin-top: 10px;
}

#findpw .lbtn {
	width: 100%;
	border: 1px solid #e68e41;
	color: #e68e41;
	padding: 5px;
	background: #fff;
	margin-top: 10px;
}
/*매장리스트*/
.store {
	width: 100%;
	height: 400px;
	text-align: center;
}

.store .tabon::after {
	content: '';
	display: block;
	clear: both;
}

.store ul.store_tab {
	
}

.store .store_tab li {
	float: left;
	height: 30px;
	text-align: center;
	cursor: pointer;
	color: #666;
	width: 50%;
	text-align: center;
	font-weight: 400;
}

.store .store_tab li.onon {
	border-bottom: 5px solid #e68e41;
}

.store .store_search {
	padding: 50px 0;
}

.store .search input {
	height: 20px;
	width: 80%;
	border: 2px solid #e68e41;
	border-radius: 15px;
}

.store .search i {
	color: #e68e41;
	font-size: 19px;
	padding-left: 5px
}

.store .mapline {
	width: 100%;
	height: 555px;
	margin-top: 21px;
	padding: 10px 0
}

.store .mapline #map {
	border-radius: 15px
}

.store .tabon>div>div.active {
	display: block;
}

.store .storelist {
	margin-top: 10px
}

.store .storelist ul {
	text-align: left;
	position: relative;
}

.store .storelist ul li.listline {
	width: 98%;
	height: 80px;
	margin-bottom: 5px;
	border-bottom: 2px solid #ffebde;
}

.store .storelist ul li ul.ulinner li.innerl {
	margin-top: 10px
}

.store .storelist ul li ul.ulinner li.innerl:nth-child(1) {
	width: 20%;
	float: left;
	padding: 5px 10px;
}

.store .storelist ul li ul.ulinner li.innerl:nth-child(1) img {
	width: 100%;
}

.store .storelist ul li ul.ulinner li.innerl:nth-child(2) {
	margin-top: 19px;
	float: left;
	margin-left: 10px;
	width: 50%;
	/* position: relative; */
	text-align: left;
}

.store .storelist ul li ul.ulinner li.innerl:nth-child(3) {
	position: absolute;
	left: 29%;
	top: 43%;
	margin: 40px 0;
}

.store .storelist ul li ul.ulinner li.innerl:nth-child(4) {
	position: absolute;
	top: 43;
	right: 30px;
	top: 10px;
}

.store .store_mark .mapper .storelist2 {
	margin-top: 10px
}

.store .store_mark h4 {
	text-align: left;
}

.store .store_mark .mapper .storelist2 ul {
	text-align: left;
	position: relative;
}

.store .store_mark .mapper .storelist2 ul li.listline {
	width: 98%;
	height: 80px;
	margin-bottom: 5px;
	border-bottom: 2px solid #ffebde;
}

.store .store_mark .mapper .storelist2 ul li ul.ulinner li.innerl {
	margin-top: 10px
}

.store .store_mark .mapper .storelist2 ul li ul.ulinner li.innerl:nth-child(1)
	{
	width: 20%;
	float: left;
	padding: 5px 10px;
}

.store .store_mark .mapper .storelist2 ul li ul.ulinner li.innerl:nth-child(1) img
	{
	width: 100%;
}

.store .store_mark .mapper .storelist2 ul li ul.ulinner li.innerl:nth-child(2)
	{
	margin-top: 19px;
	float: left;
	margin-left: 10px;
	width: 50%;
	/* position: relative; */
	text-align: left;
}

.store .store_mark .mapper .storelist2 ul li ul.ulinner li.innerl:nth-child(3)
	{
	position: absolute;
	left: 29%;
	top: 43%;
	margin: 40px 0;
}

.store .store_mark .mapper .storelist2 ul li ul.ulinner li.innerl:nth-child(4)
	{
	position: absolute;
	top: 43;
	right: 30px;
	top: 10px;
}
/*매장모달*/
#smodal {
	width: 100%;
	/* height: 100%; */
	bottom: -200px;
	position: fixed;
	left: 8px;
	display: block;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1);
}

#smodal .modal-window {
	border-radius: 10px;
	border: 2px solid #e68e41;
	width: 80%;
	height: 150px;
	padding: 10px;
	text-align: left;
	z-index: 100;
	bottom: 0;
	background: #fff;
	width: 80%;
	height: 150px;
}

#smodal .modal-window .m_title {
	margin: 20px 5%;
}

#smodal .modal-window .m_title ul li {
	
}

#smodal .modal-window .m_title ul li:first-child {
	display: block;
	width: 100%;
}

#smodal .modal-window .m_title ul li:first-child span {
	border: 1px solid #e68e41;
	font-size: 12px;
	border-radius: 15px;
	color: #e68e41;
	padding: 1px 4px;
}

#smodal .modal-window .m_title ul li:nth-child(2) {
	float: left;
	width: 80%;
	font-size: 20px;
	font-weight: 500;
}

#smodal .modal-window .m_title ul li:nth-child(3) i {
	color: #e68e41;
	text-align: right;
	font-size: 19px;
}

#smodal .modal-window .m_title ul li:nth-child(4) {
	display: inline-flex
}

#smodal .modal-window .m_title ul li:nth-child(5) {
	margin-top: 10px
}

#smodal .modal-window .m_title ul li button {
	border: 1px solid #e68e41;
	background-color: #e68e41;
	color: #fff;
	border-radius: 15px;
	padding: 3px 10px
}

#smodal .modal-window .modalbtn {
	margin: 0 auto;
	display: block;
	width: 120px;
	height: 30px;
	border: 1px solid #487BE1;
	padding: 0 15px;
	border-radius: 100px;
	background: #487BE1;
	color: #fff;
	margin-top: 10px;
}

/*메뉴리스트*/
.menulist {
	width: 100%;
	text-align: left;
	padding-left: 10px;
}

.menulist .st {
	height: 30px;
	margin: 10px 0;
}

.menulist .menutablist ul.menu_tab {
	white-space: nowrap;
	overflow-x: auto;
	text-align: center;
	width: 100%;
	height: 30px;
}

.menulist .menutablist .menu_tab li {
	display: inline-block;
	width: 77px;
	border: 1px solid #e68e41;
	color: #fff;
	border-radius: 74px;
	background-color: #e68e41;
	margin-right: 5px;
	padding: 2px 0;
}

.menulist .menutablist .menuselect {
	margin-top: 30px
}

.menulist .menutablist .menuselect div>div>ul>li {
	width: 100%;
	height: 100px;
}

.menulist .menutablist .menuselect div>div>ul>li {
	display: block;
	width: 100%
}

.menulist .menutablist .menuselect div>div>ul>li>a {
	display: block;
	text-decoration: none;
	color: #242424
}

.menulist .menutablist .menuselect div>div>ul>li>a>ul>li {
	float: left;
}

.menulist .menutablist .menuselect div>div>ul>li>a>ul>li img {
	width: 90px;
	height: 90px;
	border-radius: 100%;
}

.menulist .menutablist .menuselect div>div>ul>li>a>ul>li:nth-child(1) {
	width: 31%
}

.menulist .menutablist .menuselect div>div>ul>li>a>ul>li:nth-child(2) {
	padding-top: 17px;
	font-size: 17px;
	font-weight: 400;
	float: none;
}

.menulist .menutablist .menuselect div>div>ul>li>a>ul>li:nth-child(3) {
	padding-left: 10px;
	padding-top: 5px;
	font-size: 15px;
	font-weight: 500;
	float: none;
}

.menu_tab::-webkit-scrollbar {
	display: none;
}

/* 메뉴디테일 */
.menudetail {
	height: 1000px
}

.menudetail .menuimg {
	padding-bottom: 20px;
	border-bottom: 1px solid #e9e9e9;
	margin-bottom: 20px;
}

.menudetail .menuimg img {
	height: 250px
}

.menudetail .menuimg h2 {
	font-size: 22px;
	padding-bottom: 10px;
}

.menudetail .menuop {
	maring-top: 10px;
	height: auto;
	margin-bottom: 300px;
	text-align: left
}

.menudetail .menuop #hide {
	padding-left: 14px;
	    border-radius: 10px;
    background-color: #fff8f3;
    padding-top:20px
}

.menudetail .menuop #hide ul li.oplist {
	width: 100%;
	min-height: 120px;
	padding-bottom: 20px
}

.menudetail .menuop #hide ul li.oplist>ul>li {
	height: 30px
}

.menudetail .menuop #hide ul li.oplist>ul>li strong {
	font-weight: 400
}

.menudetail .menuop #hide ul li.oplist ul li:first-child {
	font-size: 17px;
	color: ##726464;
	padding-bottom: 10px
}

.menudetail .menuop #hide ul li.oplist ul li:nth-child(3) {
	
}

.menudetail .menuop #hide ul li.oplist ul li input[type='radio'], input[type='radio']:checked
	{
	appearance: none;
	width: 0.9rem;
	height: 0.9rem;
	border-radius: 100%;
	margin-right: 0.1rem;
}

.menudetail .menuop #hide ul li.oplist ul li input[type='radio'] {
	background-color: #fff;
	border: 2px solid #e68e41;
}

.menudetail .menuop #hide ul li.oplist ul li input[type='radio']:checked
	{
	background-color: #e68e41;
}

.menudetail .menuop .line{
	height:50px;
	border-bottom:1px solid #9d9d9d;
	margin-bottom:30px;
}
.menudetail .menuop .line a {
	padding: 10px;
	text-decoration: none;
	color: #373737
}

.menudetail .menuop .line a i{transition: all ease 0.5s;


margin-right: 13px;
    float: right;
    color: #9d9d9d;} 
.menudetail #checkflex {
	position: fixed;
	width: 67%;
	border: 2px solid #e68e41;
	bottom: 36px;
	padding: 24px 45px;
	height: 119px;
	text-align: left;
	border-radius: 15px;
	background-color: #fff;
}

.menudetail #checkflex .num {
	margin-bottom: 10px
}

.menudetail #checkflex .num a {
	text-decoration: none;
}

.menudetail #checkflex .num ul li:first-child {
	float:left;	width: 50%
}

.menudetail #checkflex .num ul li #result {
	padding: 0 20px;
	font-size: 18px;
	font-weight: 500;
}

.menudetail #checkflex .num ul li i {
	font-size: 16px;
	color: #e68e41;
}

.menudetail #checkflex .num ul li:nth-child(2) {
	text-align: right;

}

.menudetail #checkflex .num h3 {
	display: inline
}

.menudetail #checkflex .pprice ul li:first-child {
	float: left;
	width: 50%
}

.menudetail #checkflex .pprice ul li:nth-child(2) {
	text-align: right;
}

.menudetail #checkflex .mbtn {
	text-align: center;
	margin-top: 10px;
}

.menudetail #checkflex .mbtn button {
	width: 48%;
	color: white;
	padding: 5px 10px;
	background: #e68e41;
}
#cartlist{margin:0 5%;text-align:left;
margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 3px solid #e68e41;
    
}
#cartlist .st {
	margin-top: 30px;
	    padding-bottom: 20px;
    border-bottom: 3px solid #e68e41;
	
}

#cartlist .list>ul>li {
	width: 100%;
	height: 110px;
}

#cartlist .list>ul>li {
	display: block;
	width: 100%
;position:relative;
    margin: 20px 0;
}



#cartlist .list>ul>li>ul>li {
	float: none;
}

#cartlist .list>ul>li>ul>li img {
	width: 90px;
	height: 90px;
	border-radius: 100%;
}

#cartlist .list>ul>li>ul>li:first-child{
	width: 31%;
	float: left !important;
}

#cartlist .list>ul>li>ul>li:nth-child(2) {
	padding-top: 17px;
	font-size: 18px;
	font-weight: 500;
	float: none;
}

#cartlist .list>ul>li>ul>li:nth-child(3) {
	padding-left: 10px;
	padding-top: 5px;
    font-size: 14px;
	float: none;
}
#cartlist .list>ul>li>ul>li:nth-child(4) {
    font-size: 16px;
    font-weight: 400;
    }
#cartlist .list>ul>li>ul>li:nth-child(5) {
position:absolute;
	float: none;
	    right: 8%;
    bottom: 8%;
    font-size: 19px;
    font-weight: 500;
}
#cartlist .list>ul>li>ul>li:nth-child(6){
position:absolute;
	float: none;
	    right: 8%;
top:10%;
color:#9d9d9d;
    font-size: 19px;
}
#linecss {position:relative;height:20px;}
#linecss #shadow{ 
	top:10px;
	height:10px; 
	    box-shadow: -1px 0 0 0 #976545  inset;    
	    left: -50px;
    width: 200%;
    margin: 0 0;
    height: 10px;
    position: absolute;
    background-color:#fff8f3;}
/*카트 리스트 결제*/
#orderinfo {height:200px;margin-bottom:100px;text-align:left;}

#orderinfo{width:100%;}
#orderinfo .where h4{padding-bottom:20px;
}
#orderinfo .where{margin-bottom:30px}
#orderinfo .where input[type=radio]{
	width: 0;
  height: 0;
  position: absolute;
  left: -9999px;
}
#orderinfo .where input[type=radio] + label{
    width: 170px;
  margin: 0;
  padding: .75em 1.5em;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  border: solid 1px #DDD;
  background-color: #FFF;
  line-height: 140%;
  text-align: center;
  box-shadow: 0 0 0 rgba(255, 255, 255, 0);
  transition: border-color .15s ease-out,  color .25s ease-out,  background-color .15s ease-out, box-shadow .15s ease-out;
  cursor: pointer;
}
#orderinfo .where input[type=radio]:checked + label{
    background-color: #e68e41;
    width: 170px;
    color: #FFF;
    box-shadow: 0 0 10px #ffebde;
    border-color: #e68e41;
    z-index: 1;
}




#orderinfo .coupon {
	maring-top: 10px;
	height: auto;
	text-align: left
}

#orderinfo .coupon #hide {
	padding-left: 14px;

}

#orderinfo .coupon #hide {
width: 95%;
	padding-bottom: 20px
}

#orderinfo .coupon #hide ul.clist li.cli {
	    height: 80px;
    border-radius: 10px;
    background-color: #fff8f3;
margin-bottom: 5px;
}

#orderinfo .coupon #hide ul.clist li.cli strong {
	font-weight: 400
}

#orderinfo .coupon #hide ul.clist li.cli ul li:first-child {
	font-size: 17px;
	color: #726464;
}

#orderinfo .coupon #hide ul.clist  li.cli ul li:nth-child(3) {
	
}

#orderinfo .coupon #hide ul.clist li input[type='radio'], input[type='radio']:checked
	{
	appearance: none;
	width: 0.9rem;
	height: 0.9rem;
	border-radius: 100%;
	margin-right: 0.1rem;
}

#orderinfo .coupon #hide ul.clist li input[type='radio'] {
	background-color: #fff;
	border: 2px solid #e68e41;
}

#orderinfo .coupon #hide ul.clist li input[type='radio']:checked
	{
	background-color: #e68e41;
}

#orderinfo .coupon .line{
	height:50px;
	border-bottom:1px solid #9d9d9d;
	margin-bottom:8px;
}
#orderinfo .coupon .line a {
	padding: 10px;
	text-decoration: none;
	color: #373737;
	font-weight:600;
	
}

#orderinfo .coupon .line a i{transition: all ease 0.5s;


margin-right: 13px;
    float: right;
    color: #9d9d9d;} 



#orderinfo .how{height:200px;margin-top:20px}
#orderinfo .how h4{padding-left:10px}
#orderinfo .how .kakao{padding-left:20px;height:70px;margin-top:20px;    border-radius: 10px;
    background-color: #fff6b7;width:95%}
#orderinfo .how .kakao img{width:50px;padding-right:7px;}
#orderinfo .how .kakao .kbtn{margin:20px 0 ;}





/*쿠폰*/
#coupon {
	text-align: left;
	margin: 0 5%
}

#coupon h4 {
	margin: 50px 0 30px 0;
	font-size: 19px;
	color: #e25326;
}

#coupon .clist {
	
}

#coupon .clist ul li.cli {
	width: 100%;
	height: 70px;
	padding: 10px 0;
	border-bottom: 1px solid #9d9d9d;
	position: relative
}

#coupon .clist ul li.cli:last-child {
	border: none;
}

#coupon .clist ul .cli>ul>li:first-child {
	font-size: 17px;
	font-weight: 600;
}

#coupon .clist ul .cliul>li:nth-child(2) {
	font-size: 15px;
	font-weight: 400;
}

#coupon .clist ul .cli>ul>li:nth-child(3) {
	font-size: 14px;
	color: #5d5d5d
}

#coupon .clist ul .cli>ul>li:nth-child(4) {
	font-size: 17px;
	position: absolute;
	right: 5%;
	font-weight: 400;
	top: 34%;
}

#coupon .cinfo{margin-top:50px;font-size:15px;}


/*스탬프*/

#stamp {
	text-align: left;
	margin: 0 5%
}

#stamp h4 {
	margin: 50px 0 30px 0;
	font-size: 19px;
	color: #e25326;
}

#stamp .slist {
	width:330px;
	height:160px;
	background:url('../../images/common/stampbg.png') no-repeat center center;
}
#stamp .slist .bom{
    text-align: right;
    padding-top: 53px;
}
#stamp .slist .bom ul {float:right;    padding-right: 33px;
}
#stamp .slist .bom ul li{float:left;padding: 0 10px 15px 10px;}
#stamp .slist .bom ul li:nth-child(5){float:none;}
#stamp .sinfo{margin-top:50px;}


/*옵션 라디오버튼*/
#radiooption{width:100%}


#radiooption .icelist input[type=radio]{
	width: 0;
  height: 0;
  position: absolute;
  left: -9999px;
}
#radiooption .icelist input[type=radio] + label{
    width: 170px;
  margin: 0;
  padding: .75em 1.5em;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  border: solid 1px #DDD;
  background-color: #FFF;
  line-height: 140%;
  text-align: center;
  box-shadow: 0 0 0 rgba(255, 255, 255, 0);
  transition: border-color .15s ease-out,  color .25s ease-out,  background-color .15s ease-out, box-shadow .15s ease-out;
  cursor: pointer;
}
#radiooption .icelist input[type=radio]:checked + label{
    background-color: #e68e41;
    width: 170px;
    color: #FFF;
    box-shadow: 0 0 10px #ffebde;
    border-color: #e68e41;
    z-index: 1;
}

#radiooption .icelist .j{
    background-color: #e68e41;
    width: 350px;
    color: #FFF;
    box-shadow: 0 0 10px #ffebde;
    border-color: #e68e41;
    z-index: 1;
    display:table; box-sizing: border-box;
  position: relative;
  display: inline-block;
  border: solid 1px #DDD;  text-align: center;
  box-shadow: 0 0 0 rgba(255, 255, 255, 0);
    padding: .75em 1.5em;
}

#radiooption .sizelist{margin:30px 0;}

#radiooption .sizelist input[type=radio]{
	width: 0;
  height: 0;
  position: absolute;
  left: -9999px;
}
#radiooption .sizelist input[type=radio] + label{
width: 116px;
  margin: 0;
  padding: .75em 1.5em;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  border: solid 1px #DDD;
  background-color: #FFF;
  line-height: 140%;
  text-align: center;
  box-shadow: 0 0 0 rgba(255, 255, 255, 0);
  transition: border-color .15s ease-out,  color .25s ease-out,  background-color .15s ease-out, box-shadow .15s ease-out;
  cursor: pointer;
}
#radiooption .sizelist input[type=radio]:checked + label{
    background-color: #e68e41;
    width: 118px;
    color: #FFF;
    box-shadow: 0 0 10px #ffebde;
    border-color: #e68e41;
    z-index: 1;
    display:table;
}