@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

::selection {
	background: #808fba;
	color: #fff;
}

::-moz-selection {
	background: #808fba;
	color: #fff;
}

.skip {
	display: none;
}

body {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 16px;
	line-height: 1.4;
	font-weight: 300;
	color: #333;
	letter-spacing: -1px;
}

button {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 16px;
}

.layout {
	min-width: 390px;
}

.wrap {
	width: 390px;
	margin: 0 auto;
}

.wrap {
	width: auto;
	margin: 0 5%;
}

header {
	position: fixed;
	left: 0;
	top: 0;
	Z-index: 300;
	width: 100%;
	height: 100px;
	text-align: center;
}

header .logo {
	line-height: 100px;
}

header .gnb {
	text-align: left;
	position: absolute;
	top: 0;
	left: 0;
}

header .gnb .open {
	margin: 37px 0 0 116px;
}

header .gnb_mobile {
	display: none;
}

header {
	height: 58px;
	line-height: 50px;
}

header .logo {
	line-height: 60px;
}

header .logo img {
	width: 81px;
}

header .gnb .open {
	position: absolute;
	left: 5%;
	top: 17px;
}

header .gnb .open img {
	width: 24px;
}

header .gnb_mobile {
	display: block;
	position: absolute;
	right: 4%;
	top: 4px;
}

header .gnb_mobile .gnb_open {
	display: inline-block;
	padding: 0;
}

header .gnb_mobile .m_slide {
	position: fixed;
	right: -650px;
	top: 0;
	width: 100%;
	height: 100%;
}

header .gnb_mobile .m_slide .menu_sub .topmenu {
	text-align: left;
	padding-left: 30px;
	font-size: 14px;
	z-index: 303;	
}
header .gnb_mobile .m_slide .menu_sub .topmenu a{
		text-decoration: none;
		z-index: 303;	
	
}

header .gnb_mobile .m_slide .member {
	text-align: left;
	padding: 30px;
}

header .gnb_mobile .m_slide .menu_sub .member {
	display: block;
	position: absolute;
	right: 0;
	width: 86%;
	z-index: 303;
}

header .gnb_mobile .m_slide .menu_sub .member>ul {
	text-align: left;
	margin: 0 8%;
}

header .gnb_mobile .m_slide .menu_sub .member>ul>li {
	
}

header .gnb_mobile .m_slide .menu_sub .member>ul>li>span {
	color: #333;
	font-size: 13px;
	font-weight: 400;
	text-decoration: none;
	line-height: 40px;
	display: block;
}

header .gnb_mobile .m_slide .menu_sub .member>ul>li>ul {
	display: block;
	background: #fff;
}

header .gnb_mobile .m_slide .menu_sub .member >ul>li>ul>li>a {
	color: #3d3d3d;
	font-weight: 400;
	font-size: 16px;
	text-decoration: none;
	line-height: 28px;
	padding-left: 5%;
	display: block;
}

header .gnb_mobile .m_slide .menu_sub .m_lang {
	text-align: left;
}

header .gnb_mobile .m_slide .menu_sub .m_lang button {
	margin-right: 18px;
}

header .gnb_mobile .m_slide .menu_sub .m_lang button:first-child {
	margin-right: 0;
}

header .gnb_mobile .m_slide .menu_sub .m_lang button.on {
	font-weight: 600;
}

header .gnb_mobile .m_slide .menu_sub>ul>li.open {
	
}

header .gnb_mobile .m_slide .menu_sub>ul>li.open>ul {
	display: block;
}

header .gnb_mobile .m_slide .menu_sub>ul>li.open>ul>li.open>a {
	color: #2a4ab4;
	font-weight: 400;
}

header .gnb_mobile .m_slide .gnb_close {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 304;
	padding: 15px 5% 15px 5%;
}

header .gnb_mobile .m_slide .gnb_bg {
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 302;
}

header .gnb_mobile .m_slide .menu_sub .m_lang {
	margin: 30px 0 0 5%;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	Z-index: 500;
	width: 100%;
	height: 60px;
	text-align: center;
	background-color: #e25326;
}

footer {
	width: 100%
}

footer .bottomnav ul li {
	width: 25%;
	float: left;
	padding: 15px 0px;
	font-size: 23px
}

footer .bottomnav ul li:nth-child(2) img {
	width: 24px;
	margin-top: 3px
}

footer .bottomnav ul li a {
	text-decoration: none;
	color: #fff
}