@charset "UTF-8";

@import url(default.css);

@import url(common.css);

@import url(main.css);

.subhead {
	margin-top: 20px;
	height: 50px;
	text-align: left;
	padding: 10px 20px;
	text-align: left;
	padding: 10px 20px
}

.subhead ul li {
	display: inline-block;
	margin-right: 32%
}

.subhead ul li i {
	font-size: 22px;
	color: #9d9d9d
}

.subhead ul li .subtit {
	font-size: 19px;
	font-weight: 500
}

.store {
	width: 100%;
	height: 400px;
	text-align: center;
}

.store .tabon::after {
	content: '';
	display: block;
	clear: both;
}

.store ul.store_tab {
	
}

.store .store_tab li {
	float: left;
	height: 30px;
	text-align: center;
	cursor: pointer;
	color: #666;
	width: 50%;
	text-align: center;
	font-weight: 400;
}

.store .store_tab li.onon {
	border-bottom: 5px solid #e68e41;
}

.store .store_search {
	padding: 50px 0;
}

.store .search input {
	height: 20px;
	width: 80%;
	border: 2px solid #e68e41;
	border-radius: 15px;
}

.store .search i {
	color: #e68e41;
	font-size: 19px;
	padding-left: 5px
}

.store .mapline {
	padding: 10px 0
}

.store .mapline #map {
	border-radius: 15px
}

.store .tabon>div>div.active {
	display: block;
}

.store .storelist {
	margin-top: 10px
}

.store .storelist ul {
	text-align: left;
	position: relative;
}

.store .storelist ul li.listline {
	width: 98%;
	height: 80px;
	margin-bottom: 5px;
	    border-bottom: 2px solid #ffebde;
}
.store .storelist ul li ul.ulinner li.innerl{margin-top:10px}

.store .storelist ul li ul.ulinner li.innerl:nth-child(1) {width: 20%;
    float: left;
    padding: 5px 10px;
	
}

.store .storelist ul li ul.ulinner li.innerl:nth-child(1) img { width: 100%;}

.store .storelist ul li ul.ulinner li.innerl:nth-child(2){margin-top: 19px;
    float: left;
    margin-left: 10px;
    width: 50%;
    /* position: relative; */
    text-align: left;
}
	


.store .storelist ul li ul.ulinner li.innerl:nth-child(3) {
	position: absolute;
    left: 29%;
    top: 43%;    margin: 40px 0;
	
}

.store .storelist ul li ul.ulinner li.innerl:nth-child(4) {
	      position: absolute;
    top: 43;
    right: 30px;
    top: 10px;
}

.store .store_mark .mapper
.store .store_mark .mapper .storelist2 {
	margin-top: 10px
}
.store .store_mark h4{text-align:left;}

.store .store_mark .mapper .storelist2 ul {
	text-align: left;
	position: relative;
}

.store .store_mark .mapper .storelist2 ul li.listline {
	width: 98%;
	height: 80px;
	margin-bottom: 5px;
	    border-bottom: 2px solid #ffebde;
}
.store .store_mark .mapper .storelist2 ul li ul.ulinner li.innerl{margin-top:10px}

.store .store_mark .mapper .storelist2 ul li ul.ulinner li.innerl:nth-child(1) {width: 20%;
    float: left;
    padding: 5px 10px;
	
}

.store .store_mark .mapper .storelist2 ul li ul.ulinner li.innerl:nth-child(1) img { width: 100%;}

.store .store_mark .mapper .storelist2 ul li ul.ulinner li.innerl:nth-child(2){margin-top: 19px;
    float: left;
    margin-left: 10px;
    width: 50%;
    /* position: relative; */
    text-align: left;
}
	


.store .store_mark .mapper .storelist2 ul li ul.ulinner li.innerl:nth-child(3) {
	position: absolute;
    left: 29%;
    top: 43%;    margin: 40px 0;
	
}

.store .store_mark .mapper .storelist2 ul li ul.ulinner li.innerl:nth-child(4) {
	      position: absolute;
    top: 43;
    right: 30px;
    top: 10px;
}
